openapi: 3.0.0
info:
  title: Pokémon API
  description: An API for retrieving Pokémon, Natures, and Stats
  version: 1.0.0

servers:
  - url: https://pokeapi.co/api/v2

paths:
  /pokemon/{idOrName}:
    get:
      summary: Retrieve a Pokémon by ID or name
      parameters:
        - name: idOrName
          in: path
          description: The ID or name of the Pokémon to retrieve
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                id: 25
                name: pikachu
                height: 4
                weight: 60
                abilities:
                  - ability1
                  - ability2
                types:
                  - type1
                  - type2
        '404':
          description: Pokémon not found

  /nature/{idOrName}:
    get:
      summary: Retrieve a Nature by ID or name
      parameters:
        - name: idOrName
          in: path
          description: The ID or name of the Nature to retrieve
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                id: 1
                name: adamant
                increased_stat:
                  - stat: attack
                    name: Attack
                decreased_stat:
                  - stat: special-attack
                    name: Special Attack
        '404':
          description: Nature not found

  /stat/{idOrName}:
    get:
      summary: Retrieve a Stat by ID or name
      parameters:
        - name: idOrName
          in: path
          description: The ID or name of the Stat to retrieve
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                id: 1
                name: hp
                is_battle_only: false
        '404':
          description: Stat not found
